In [1]:
from misc_handler import return_standings_df_from_web
df1 = return_standings_df_from_web()
df1

,Position,Club,Played Pl,Won W,Drawn D,Lost L,GF,GA,GD,Points Pts
0,1,Manchester City,6,6,0,0,16,3,13,18
2,2,Liverpool,6,5,1,0,15,5,10,16
4,3,Brighton and Hove Albion,6,5,0,1,18,8,10,15
6,4,Tottenham Hotspur,6,4,2,0,15,7,8,14
8,5,Arsenal,6,4,2,0,11,6,5,14
10,6,Aston Villa,6,4,0,2,12,10,2,12
12,7,West Ham United,6,3,1,2,11,10,1,10
14,8,Newcastle United,6,3,0,3,16,7,9,9
16,9,Manchester United,6,3,0,3,7,10,-3,9
18,10,Crystal Palace,6,2,2,2,6,7,-1,8
20,11,Fulham,6,2,2,2,5,10,-5,8
22,12,Nottingham Forest,6,2,1,3,7,9,-2,7
24,13,Brentford,6,1,3,2,9,9,0,6
26,14,Chelsea,6,1,2,3,5,6,-1,5
28,15,Everton,6,1,1,4,5,10,-5,4
30,16,Wolverhampton Wanderers,6,1,1,4,6,12,-6,4
32,17,Bournemouth,6,0,3,3,5,11,-6,3
34,18,Luton Town,5,0,1,4,3,11,-8,1
36,19,Burnley,5,0,1,4,4,13,-9,1
38,20,Sheffield United,6,0,1,5,5,17,-12,1