In [ ]:
from hookpart2 import execute_hook,create_etl_checkpoint, return_etl_last_updated_index
from database_handler import create_connection, execute_query
from prehook import return_data_as_df
from lookups import InputTypes, DESTINATION_SCHEMA
db_session = create_connection()
query = f"""
            SELECT table_name
            FROM information_schema.tables
            WHERE table_schema = '{DESTINATION_SCHEMA.DESTINATION_NAME.value}'
        """
df = return_data_as_df(file_executor=query, input_type= InputTypes.SQL, db_session = db_session)
for row in df.iloc[:, 0].tolist():
    if row[:3] == 'stg':
        truncate_query = f"TRUNCATE TABLE {DESTINATION_SCHEMA.DESTINATION_NAME.value}.{row} RESTART IDENTITY CASCADE;"
        execute_query(db_session,truncate_query)

In [ ]:
from misc_handler import insert_web_into_sql


insert_web_into_sql(db_session,'web_scraping_files')

In [1]:
from misc_handler import return_all_seasons_standings_df_from_web,return_all_standings_df_from_web
from database_handler import create_connection

db_session = create_connection()
df = return_all_seasons_standings_df_from_web()
df

,Position,Club,Played Pl,Won W,Drawn D,Lost L,GF,GA,GD,Points Pts,Season
0,1,Manchester City,6,6,0,0,16,3,13,18,2023
1,2,Liverpool,6,5,1,0,15,5,10,16,2023
2,3,Brighton and Hove Albion,7,5,0,2,18,10,8,15,2023
3,4,Aston Villa,7,5,0,2,14,10,4,15,2023
4,5,Tottenham Hotspur,6,4,2,0,15,7,8,14,2023
...,...,...,...,...,...,...,...,...,...,...,...
115,16,Wolverhampton Wanderers,6,1,1,4,6,12,-6,4,2018
116,17,Bournemouth,6,0,3,3,5,11,-6,3,2018
117,18,Luton Town,5,0,1,4,3,11,-8,1,2018
118,19,Burnley,5,0,1,4,4,13,-9,1,2018
119,20,Sheffield United,6,0,1,5,5,17,-12,1,2018

In [ ]:
df