In [ ]:
# from misc_handler import return_standings_df_from_web
# df1 = return_standings_df_from_web()

In [1]:
import pandas as pd
df = pd.read_csv('tableeeeee')

In [2]:
def remove_suffix(x):
    x.strip(' ')
    n = x.split()
    x = " ".join(n[:-1])
    return x

df['Club'] = df['Club'].apply(remove_suffix)
df

,Unnamed: 0,Position,Club,Played Pl,Won W,Drawn D,Lost L,GF,GA,GD,Points Pts
0,0,1,Manchester City,6,6,0,0,16,3,13,18
1,2,2,Liverpool,6,5,1,0,15,5,10,16
2,4,3,Brighton and Hove Albion,6,5,0,1,18,8,10,15
3,6,4,Tottenham Hotspur,6,4,2,0,15,7,8,14
4,8,5,Arsenal,6,4,2,0,11,6,5,14
5,10,6,Aston Villa,6,4,0,2,12,10,2,12
6,12,7,West Ham United,6,3,1,2,11,10,1,10
7,14,8,Newcastle United,6,3,0,3,16,7,9,9
8,16,9,Manchester United,6,3,0,3,7,10,-3,9
9,18,10,Crystal Palace,6,2,2,2,6,7,-1,8
10,20,11,Fulham,6,2,2,2,5,10,-5,8
11,22,12,Nottingham Forest,6,2,1,3,7,9,-2,7
12,24,13,Brentford,6,1,3,2,9,9,0,6
13,26,14,Chelsea,6,1,2,3,5,6,-1,5
14,28,15,Everton,6,1,1,4,5,10,-5,4
15,30,16,Wolverhampton Wanderers,6,1,1,4,6,12,-6,4
16,32,17,Bournemouth,6,0,3,3,5,11,-6,3
17,34,18,Luton Town,5,0,1,4,3,11,-8,1
18,36,19,Burnley,5,0,1,4,4,13,-9,1
19,38,20,Sheffield United,6,0,1,5,5,17,-12,1

In [ ]:
x=None
x = 'Burnley BUR    '
x.strip(' ')
x.split()
print(x)