In [ ]:
# from misc_handler import download_files
# download_files()

In [ ]:
import pandas_handler as pdh
import database_handler as dbh
from database_handler import return_data_as_df, return_create_statement_from_df
from lookups import InputTypes
df = return_data_as_df('./batata/Players.csv',InputTypes.CSV)
df

In [ ]:
from database_handler import create_connection

create_connection()

In [ ]:
# from lookups import DESTINATION_SCHEMA
# import database_handler as dbh
# db_session = dbh.create_connection()
# query = return_create_statement_from_df(df, DESTINATION_SCHEMA.DESTINATION_NAME.value,'Players')
# query
# # dbh.execute_query(db_session=db_session, query=query)

In [ ]:
import pandas_handler as pdh

dicto = pdh.get_csv_file_names_into_dict()

In [ ]:
jjj = pdh.return_paths_dict(dicto)
jjj

In [ ]:
for l,m in jjj.items():
    print(l,m)

In [ ]:
from lookups import DESTINATION_SCHEMA
query = dbh.return_create_statement_from_df_stg(df, DESTINATION_SCHEMA.DESTINATION_NAME.value, 'players')
db_session = dbh.create_connection()
dbh.execute_query(db_session=db_session, query=query)

In [ ]:
from prehook import create_stg_tables_from_csv
from database_handler import create_connection
db_session = create_connection()
create_stg_tables_from_csv(db_session)

In [ ]:
from prehook import first_time_run_download

first_time_run_download()

In [1]:
from misc_handler import return_match_df_from_web

df = return_match_df_from_web(46605,46984)

In [5]:
df.sort_values(by='match_id')

,match_id,date,home_team,away_team,home_score,away_score,home_possession_%,away_possession_%,home_shots_on_target,away_shots_on_target,...,home_corners,away_corners,home_offsides,away_offsides,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards,home_fouls_conceded,away_fouls_conceded
0,46605,08/09/2019,Liverpool,Norwich,4,1,57.9,42.1,7.0,5.0,...,11.0,2.0,0.0,5.0,0.0,2.0,NaN,NaN,9.0,9.0
1,46606,08/10/2019,Bournemouth,Sheffield Utd,1,1,52.9,47.1,3.0,3.0,...,3.0,4.0,1.0,1.0,2.0,1.0,NaN,NaN,10.0,19.0
2,46607,08/10/2019,Burnley,Southampton,3,0,46.5,53.5,4.0,3.0,...,2.0,7.0,5.0,1.0,NaN,NaN,NaN,NaN,6.0,12.0
3,46608,08/10/2019,Crystal Palace,Everton,0,0,35.4,64.6,2.0,3.0,...,6.0,2.0,4.0,0.0,2.0,1.0,0.0,1.0,16.0,14.0
4,46609,08/11/2019,Leicester,Wolves,0,0,70.0,30.0,1.0,2.0,...,12.0,3.0,0.0,1.0,0.0,2.0,NaN,NaN,3.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,46979,07/26/2020,Everton,Bournemouth,1,3,70.0,30.0,5.0,7.0,...,2.0,5.0,0.0,1.0,1.0,0.0,NaN,NaN,11.0,9.0
375,46980,07/26/2020,Leicester,Man Utd,0,2,45.8,54.2,3.0,3.0,...,3.0,3.0,2.0,2.0,1.0,5.0,1.0,0.0,12.0,11.0
376,46981,07/26/2020,Man City,Norwich,5,0,73.1,26.9,10.0,4.0,...,9.0,0.0,0.0,2.0,1.0,1.0,NaN,NaN,7.0,4.0
377,46982,07/26/2020,Newcastle,Liverpool,1,3,25.3,74.7,2.0,6.0,...,2.0,4.0,3.0,1.0,1.0,0.0,NaN,NaN,11.0,5.0
378,46983,07/26/2020,Southampton,Sheffield Utd,3,1,72.1,27.9,4.0,3.0,...,9.0,1.0,2.0,2.0,0.0,1.0,NaN,NaN,9.0,16.0

In [6]:
df1 = return_match_df_from_web(46984,46985)

In [14]:
import pandas as pd
df_new = df_new.reset_index(drop=True)

In [16]:
df_new.to_csv('s19_20.csv')