In [ ]:
from lookups import READURLS
import misc_handler
import cleaning_dfs_handler
import pandas as pd
from database_handler import create_connection, return_insert_into_sql_statement_from_df_stg, execute_query,return_create_statement_from_df_stg

for url in READURLS:
    print('Working on:', url.name)
    df = misc_handler.read_csv_files_from_drive(url.value)
    print('Reading Done of:', url.name)

    tables = {'Players' : cleaning_dfs_handler.clean_players_function,
        'Player_Valuations' : cleaning_dfs_handler.clean_player_valuations_function,
        'Games' : cleaning_dfs_handler.clean_games_function,
        'Games_Events' : cleaning_dfs_handler.clean_games_events_function,
        'Competitions' : cleaning_dfs_handler.clean_competitions_function,
        'Clubs' : cleaning_dfs_handler.clean_clubs_function,
        'Appearances' : cleaning_dfs_handler.clean_appearances_function}
    
    df = tables[url.name](df)
    print('Cleaning done on:', url.name)
    db_session = create_connection()
    query = return_create_statement_from_df_stg(df,table_name=url.name)
    execute_query(db_session=db_session,query=query)
    print('Done creating stg table of:', url.name)
    query = return_insert_into_sql_statement_from_df_stg(df,table_name=url.name)
    print('Inserting into:', url.name)
    for query_in in query:
        execute_query(db_session=db_session,query=query_in)

In [ ]:
#READ CSV INTO PG ADMIN 
from lookups import READURLS
import misc_handler
import cleaning_dfs_handler
import pandas as pd
from database_handler import create_connection, return_insert_into_sql_statement_from_df_stg, execute_query,return_create_statement_from_df_stg

for season in READURLS:

    print('Working on:', season)
    df = 
    print('Reading Done of:', season)

    df = cleaning_dfs_handler.df_web_cleaning(df)
    print('Cleaning done on:', season)
    db_session = create_connection()
    query = return_create_statement_from_df_stg(df,table_name=season)
    execute_query(db_session=db_session,query=query)
    print('Done creating stg table of:', season)
    query = return_insert_into_sql_statement_from_df_stg(df,table_name=season)
    print('Inserting into:', season)
    for query_in in query:
        execute_query(db_session=db_session,query=query_in)

In [ ]:
import misc_handler
from database_handler import create_connection, return_data_as_df
from cleaning_dfs_handler import df_web_cleaning
from lookups import WEBSCRAPINGSTAGINGTABLE, InputTypes
from prehook import first_time_web_scraping

source_folder = 'web_scraping_files'
db_session = create_connection()
first_time_web_scraping(db_session)
csv_files= misc_handler.find_csv_files(source_folder)
misc_handler.insert_web_into_sql(db_session,source_folder)

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from time import sleep
from datetime import datetime
import pandas as pd

In [ ]:
driver = webdriver.Chrome()
options=Options()
options.add_argument('--headless')
driver = webdriver.Chrome(options=options)
url='https://www.premierleague.com/tables'
driver.get(url)
sleep(3)
table_df=pd.read_html(driver.page_source)

In [ ]:
standings=table_df[0].iloc[::2]

In [ ]:
standings_test=standings.copy()

In [ ]:
standings_test['Position']=standings_test['Position'].astype(str).str[:2]

In [ ]:
standings_test[['Form','Next','More']]

In [ ]:
standings_test.drop(columns=['Form','Next','More'],inplace=True)

In [ ]:
standings_test.reset_index()

In [1]:
from misc_handler import return_standings_df_from_web

In [2]:
return_standings_df_from_web()

,Position,Club,Played Pl,Won W,Drawn D,Lost L,GF,GA,GD,Points Pts
0,1,Manchester City MCI,6,6,0,0,16,3,13,18
2,2,Liverpool LIV,6,5,1,0,15,5,10,16
4,3,Brighton and Hove Albion BHA,6,5,0,1,18,8,10,15
6,4,Tottenham Hotspur TOT,6,4,2,0,15,7,8,14
8,5,Arsenal ARS,6,4,2,0,11,6,5,14
10,6,Aston Villa AVL,6,4,0,2,12,10,2,12
12,7,West Ham United WHU,6,3,1,2,11,10,1,10
14,8,Newcastle United NEW,6,3,0,3,16,7,9,9
16,9,Manchester United MUN,6,3,0,3,7,10,-3,9
18,10,Crystal Palace CRY,6,2,2,2,6,7,-1,8
20,11,Fulham FUL,6,2,2,2,5,10,-5,8
22,12,Nottingham Forest NFO,6,2,1,3,7,9,-2,7
24,13,Brentford BRE,6,1,3,2,9,9,0,6
26,14,Chelsea CHE,6,1,2,3,5,6,-1,5
28,15,Everton EVE,6,1,1,4,5,10,-5,4
30,16,Wolverhampton Wanderers WOL,6,1,1,4,6,12,-6,4
32,17,Bournemouth BOU,6,0,3,3,5,11,-6,3
34,18,Luton Town LUT,5,0,1,4,3,11,-8,1
36,19,Burnley BUR,5,0,1,4,4,13,-9,1
38,20,Sheffield United SHU,6,0,1,5,5,17,-12,1