In [ ]:
import database_handler
from lookups import InputTypes
from pandas_handler import get_csv_file_names_into_list
import pandas as pd

In [ ]:
db_session = database_handler.create_connection()

In [ ]:
database_handler.return_schema_info(db_session=db_session, schema_name='public')

In [ ]:
location = r"C:\Users\96171\Desktop\Soccer"
get_csv_file_names_into_list(location)

In [ ]:
import os
directory = r"C:\Users\96171\Desktop\Soccer"
csvfiles = [csvfile for csvfile in os.listdir(directory) if csvfile.endswith('.csv')]

In [ ]:
database_handler.return_data_as_df(file_executor=directory,input_type= InputTypes.CSV,db_session=db_session )

In [ ]:
import glob

txtfiles = []
for file in glob.glob("*"):
    txtfiles.append(file)
txtfiles

In [ ]:
import glob
import os

# Specify the predefined directory path
directory_path =r"C:\Users\96171\Desktop"

# Use os.path.join to create the full path
search_path = os.path.join(directory_path, '*.txt')

txtfiles = []
for file in glob.glob(search_path):
    txtfiles.append(file)
txtfiles

In [ ]:
query_df = database_handler.execute_query(db_session=db_session, query="SELECT * FROM public.film")
query_df

In [ ]:
query_df.replace()

In [ ]:
query_df["Batata"] = query_df[""]

In [ ]:
if db_session:
    query_df = database_handler.return_data_as_df(db_session= db_session, file_executor= "SELECT * FROM public.rental", input_type= InputTypes.SQL)
query_df

In [ ]:
type(InputTypes.CSV)

In [ ]:
query_df.head()

In [2]:
from web_scraping import return_match_df_from_web

return_match_df_from_web(93332,93333)

,date,home_team,away_team,home_score,away_score,home_possession_%,away_possession_%,home_shots_on_target,away_shots_on_target,home_shots,...,home_corners,away_corners,home_offsides,away_offsides,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards,home_fouls_conceded,away_fouls_conceded
0,08/21/2023,Crystal Palace,Arsenal,0,1,46.9,53.1,2.0,3.0,14.0,...,1.0,8.0,0.0,2.0,2.0,1.0,0.0,1.0,14.0,10.0